.home-link {
  color: rgb(141, 197, 56);
  border-bottom: 2px solid;
  border-bottom-color: rgb(141, 197, 56);
}

.home-link:hover {
  background-color: rgb(141, 197, 56);
  color: white;
  text-decoration: none;
  transition-duration: 0.5s;
}

.order-link {
  color: rgb(106, 161, 23);
  border-bottom: 2px solid;
  border-bottom-color: rgb(106, 161, 23);
}

.order-link:hover {
  background-color: rgb(106, 161, 23);
  color: white;
  text-decoration: none;
  transition-duration: 0.5s;
}

.menu-link {
  color: rgb(248, 116, 8);
  border-bottom: 2px solid;
  border-bottom-color: rgb(248, 116, 8);
}

.menu-link:hover {
  background-color: rgb(248, 116, 8);
  color: white;
  text-decoration: none;
  transition-duration: 0.5s;
}

.admin-link {
  color: rgb(80, 121, 20);
  border-bottom: 2px solid;
  border-bottom-color: rgb(80, 121, 20);
}

.admin-link:hover {
  background-color: rgb(80, 121, 20);
  color: white;
  text-decoration: none;
  transition-duration: 0.5s;
}

.employee-link {
  color: rgb(255, 157, 77);
  border-bottom: 2px solid;
  border-bottom-color: rgb(255, 157, 77);
}

.employee-link:hover {
  background-color: rgb(255, 157, 77);
  color: white;
  text-decoration: none;
  transition-duration: 0.5s;
}

.nav-option {
  margin-right: 2%;
  letter-spacing: 0.25em;
  padding: 2.5%;
  min-height: 65px;
  max-height: 65px;
}

.btn-orange {
  background-color: rgb(255, 201, 131);
  margin-right: 0.5em;
  margin-top: 0.5em;
  color: white;
  border-color: rgb(255, 201, 131);
  padding: 0.5em 3em;
}

.btn-orange:hover {
  background-color: rgb(245, 165, 60);
  border-color: rgb(255, 201, 131);
  color: white;
}

.food-form-group {
  margin-bottom: 0em;
  width: 100%;
}

.food-form-group > input {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.food-form-group > button {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.order-card {
  background-color: rgba(255, 244, 183, 0.877);
  border-color: #e1e1e1 !important;
}

footer {
  margin-top: 3%;
  padding: 10px 0px;
}

footer .fa:hover {
  color: #675f5f;
}

.logo-footer {
  font-weight: 800;
  font-size: 30px;
}

.address span,
.contact span,
.social span,
.header-form {
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  font-size: 13px;
  letter-spacing: 3px;
}

.address li {
  font-size: 13px;
  letter-spacing: 3px;
}

.address,
.contact,
.social {
  list-style: none;
}

.social li {
  float: left;
}

.fa {
  margin-right: 10px;
  font-size: 14px;
}

.btn-search {
  background: #484848;
  border: none;
  padding: 5px 15px;
}

.input-search {
  border: none;
  height: 30px;
  padding-left: 10px;
}

.access-butons {
  text-align: center;
}
.access-butons > a {
  width: 45%;
}

.order-card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 0.5rem;
}

.ff-notice-toast {
  background-color: #d4edda !important;
  color: #155724 !important;
}

.ff-ready-toast {
  background-color: #ffe8bd !important;
  color: #9c7835 !important;
}

.social-icons{
  margin-right: 30px;
  width: 25px;
  height: 25px;
}
