.home-link {
  color: rgb(141, 197, 56);
  border-bottom: 2px solid;
  border-bottom-color: rgb(141, 197, 56);
}

.bg-ff-footer {
  background-color: #7ac369;
}

body {
  background-color: #fafafa;
}

.home-title {
  width: fit-content;
  padding: 20px;
  color: white;
  border-radius: 2px;
  background-color: green;
}

.home-subtitle span {
  color: rgb(224, 101, 0);
}

.info-panel {
  margin-top: 10%;
}

.info-panel h4 {
  color: rgb(248, 116, 8);
}

.home-link:hover {
  background-color: rgb(141, 197, 56);
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.order-link {
  color: rgb(106, 161, 23);
  border-bottom: 2px solid;
  border-bottom-color: rgb(106, 161, 23);
}

.order-link:hover {
  background-color: rgb(106, 161, 23);
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-link {
  color: rgb(248, 116, 8);
  border-bottom: 2px solid;
  border-bottom-color: rgb(248, 116, 8);
}

.menu-link:hover {
  background-color: rgb(248, 116, 8);
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.admin-link {
  color: rgb(80, 121, 20);
  border-bottom: 2px solid;
  border-bottom-color: rgb(80, 121, 20);
}

.admin-link:hover {
  background-color: rgb(80, 121, 20);
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.employee-link {
  color: rgb(255, 157, 77);
  border-bottom: 2px solid;
  border-bottom-color: rgb(255, 157, 77);
}

.employee-link:hover {
  background-color: rgb(255, 157, 77);
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.card-eco .card-title {
  text-align: center;
  color: rgb(141, 197, 56);
}

.card-taste .card-title {
  text-align: center;
  color: rgb(106, 161, 23);
}

.card-ingredients .card-title {
  text-align: center;
  color: rgb(80, 121, 20);
}

.card-healthy .card-title {
  text-align: center;
  color: rgb(255, 157, 77);
}

.nav-option {
  margin-right: 2%;
  letter-spacing: 0.25em;
  padding: 2.5%;
  min-height: 65px;
  max-height: 65px;
}

.btn-orange {
  background-color: rgb(255, 178, 78);
  margin-right: 0.5em;
  margin-top: 0.5em;
  color: white;
  border-color: rgb(255, 201, 131);
  padding: 0.5em 3em;
}

.btn-orange:hover {
  background-color: rgb(245, 165, 60);
  border-color: rgb(255, 178, 78);
  color: white;
}

.btn-green {
  background-color: rgb(106, 161, 23) !important;
  margin-right: 0.5em;
  margin-top: 0.5em;
  color: white;
  border-color: rgb(106, 161, 23) !important;
  padding: 0.5em 3em;
}

.btn-green:hover {
  background-color: rgb(100, 150, 25) !important;
  border-color: rgb(106, 161, 23) !important;
  color: white;
}

.btn-green:active,
.btn-green:visited {
  background-color: rgb(100, 150, 25) !important;
  border-color: rgb(106, 161, 23) !important;
  color: white;
}

.btn-green:focus {
  box-shadow: 0 0 0 0.2rem rgba(122, 187, 24, 0.281) !important;
}

.food-form-group {
  margin-bottom: 0em;
  width: 100%;
}

.order-card {
  background-color: rgba(255, 244, 183, 0.877);
  border-color: #e1e1e1 !important;
}

.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link:visited,
.btn-link:focus {
  font-weight: 400;
  color: #383c41;
  text-decoration: underline;
}

footer {
  margin-top: 3%;
  padding: 10px 0px;
}

footer .fa:hover {
  color: #675f5f;
}

.logo-footer {
  font-weight: 800;
  font-size: 30px;
}

.address span,
.contact span,
.social span,
.header-form {
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  font-size: 13px;
  letter-spacing: 3px;
}

.address li {
  font-size: 13px;
  letter-spacing: 3px;
}

.address,
.contact,
.social {
  list-style: none;
}

.social li {
  float: left;
}

.fa {
  margin-right: 10px;
  font-size: 14px;
}

.btn-search {
  background: #484848;
  border: none;
  padding: 5px 15px;
}

.input-search {
  border: none;
  height: 30px;
  padding-left: 10px;
}

.access-butons {
  text-align: center;
}
.access-butons > a {
  width: 45%;
}

.order-card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 0.5rem;
}

.ff-notice-toast {
  background-color: rgb(106, 161, 23) !important;
  color: #155724 !important;
}

.ff-ready-toast {
  background-color: rgb(248, 116, 8) !important;
  color: #976403 !important;
}

.social-icons {
  margin-right: 30px;
  width: 25px;
  height: 25px;
}

.awssld__prev {
  background-color: white !important;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  width: 70px !important;
}

.awssld__next {
  background-color: white !important;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  width: 70px !important;
}

.awssld {
  --organic-arrow-color: green !important;
  --loader-bar-color: rgb(141, 197, 56) !important;
  --organic-arrow-thickness: 7px;
  --organic-arrow-border-radius: 28px;
  --organic-arrow-height: 37px;
}

.know-us {
  background: linear-gradient(
    90deg,
    rgba(141, 197, 56, 1) 0%,
    rgba(22, 121, 9, 0.5517740543483018) 50%,
    rgba(255, 157, 77, 1) 100%
  );
  width: 130%;
  margin-left: -15%;
  color: white;
}

.gradient-line-main {
  background: rgb(141, 197, 56);
  background: linear-gradient(
    90deg,
    rgba(141, 197, 56, 1) 13%,
    rgba(9, 121, 74, 1) 50%,
    rgba(141, 197, 56, 1) 87%
  );
  width: 100%;
  height: 3.5px;
}

.gradient-line-secondary {
  background: rgb(98, 204, 130);
  background: linear-gradient(
    29deg,
    rgba(98, 204, 130, 1) 33%,
    rgba(133, 236, 109, 1) 54%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 130%;
  margin-left: -15%;
  color: white;
  padding-left: 10%;
}

.deli-text {
  color: rgb(224, 101, 0);
  text-shadow: -1px 0 white, 0 0.5px white, 0.5px 0 white, 0 -1px white;
}

.btn-add-order {
  float: right;
  margin-right: -18%;
  margin-bottom: -13.85%;
  padding: 1px !important;
  border-radius: 60px;
  min-width: 50px;
  min-height: 50px;
  font-size: 30px;
  border-width: 2px !important;
  border-color: #fafafa !important;
  position: relative;
  z-index: 5;
}

.check {
  background-color: white !important;
  color: rgb(121, 185, 24) !important;
  transition: all 0.3s ease-in-out;
}

.info-cards .card {
  margin-top: 1%;
  border-radius: 20px;
}

.aws-btn {
  --organic-arrow-thickness: 7px;
  --organic-arrow-border-radius: 28px;
  --organic-arrow-height: 37px;
}

.blink-anim {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.food-photo {
  opacity: 0.8;
  border-radius: 0px !important;
}

.card-overlay {
  background-color: rgba(98, 204, 130, 0.445);
  min-height: 100% !important;
  min-width: 100% !important;
  position: absolute;
  z-index: 2;
}
